table{
    width: 100%;

    th, td {
        border:1px solid black;
    }
}

h2{
    text-align: center;
    margin-bottom: 50px;

    &.success-downloading{
        color: green;
    }

    &.error-downloading{
        color: red;
    }
}

.full-screen{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center
}
